.dropdown:hover>.dropdown-menu {
  display: block;
}
.panel,
.panel-body {
  box-shadow: none;
}

.panel-group .panel-heading {
  padding: 0;
  a{
    color: $dark-gray;
    font-size: 16px;
    font-family: $oxygen;
  }
}

.panel-group .panel-heading a {
  display: block;
  text-decoration: none;
  position: relative;
}
.panel-group .panel-heading a:after {
  content: '-';
  font-size: 22px;
  float: right;
}

.panel-group .panel-heading a.collapsed:after {
  content: '+';
  font-size: 22px;
}

.bottom-title{
  background: url("../images/bottom-title.png") no-repeat;
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  width: 290px;
  margin-top: -25px;
}
.main-header-padding{
 padding: 45px 0;
}
.section-padding{
  padding: 90px 0;
}
.section-padding-small{
  padding: 50px 0;
}
.padding-top{
  padding-top: 40px;
}
.media{
  margin-top: 20px;
  .media-body{
    margin-left: 15px;
    h5{
      font-weight: $semi-bold;
    }
    span{
      color: #936cc1;
    }
  }
}
input:focus {
  outline: none !important;
  border:none !important;
  box-shadow:none !important;
  background-color: lightgrey;
}
.shown{
  display:block;
}
.hidden{
  display:none;
}
.navbar-light .navbar-nav .nav-link.active {
  border-bottom: 1px solid $black;
}
.container-fluid{
  max-width: 1580px;
}
.container {
  max-width: 1350px;
}
.img-fluid{
  width: 100%;
  height: auto;
}
.hover{
  &:hover,&:focus,&:active{
    color:$red-color;
  }
}
.buy-btn{
  @include btn($yellow-color, $black, 0px, $oxygen, $regular, auto, $red-color, $black, $white, #FFEF44);
  margin: 0 auto 0 auto;
  padding: 11px 25px 11px 25px;
  font-size: 16px;
  display: inline-block;
  border: none;
  border-radius:5px;
}
.but-ticket-btn{
  padding: 18px 35px 18px 35px;
  box-shadow: 0px 7px 13px 0px rgba(0, 0, 0, 0.1);
}
.subscribe-btn{
  padding: 17px 34px 17px 34px;
  margin: 0 auto 0 10px;
}
.view-all-btn{
  margin: 40px auto 20px auto;
}
.get-ticket-btn{
  margin: 40px auto 20px auto;
}

.navbar-toggler-icon {
  width: 1.9em;
  height: 1.9em;
  background-color:$red-color;
}



