
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  .footer {
    text-align: center;
  }
  .banner {
    .banner-bg {
      min-height: auto;
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .banner {
    .banner-bg {
      min-height: auto;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .banner {
    .banner-bg {
      min-height: auto;
    }
  }
}

// ipad
@media (min-width: 768px) and (max-width: 1024px) {
}
//ipad landscape
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

}
//iphone x landscape
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

@media (min-width: 882px) and (max-width: 1280px) {

}
// ipad and ipad-pro
@media (min-width: 882px) and (max-width: 1280px) {

}