//***** get-tickets page style ******//

/* ==========================================================================
  >  start get-tickets-attend
  ========================================================================== */
.get-tickets-attend{
  background: $white;
  a{
    color: #936cc1;
    font-size: 18px;
    font-family: $oxygen;
    font-weight: $bold;
    text-decoration: none;
  }
}

/* ==========================================================================
  >  start book-place
  ========================================================================== */
.book-place{
  background: $black;
  min-height: auto;
  .card{
    padding-bottom: 20px;
    &:hover{
      background: #8965b4;
      color: $white;
      h2,h6{
        color: $white;
      }
    }
    .card-header{
      background: transparent;
    }
  }
}
