//***** venue-info page style ******//

/* ==========================================================================
  > start nearby-hotels
  ========================================================================== */
.nearby-hotels{
.card{
  border: none;
  .card-body{
    padding: 1.25rem 0;
  }
  a{
    color: #616161;
    font-size: 18px;
    font-family: $oxygen;
    font-weight: $regular;
    line-height: 2.0;
    text-decoration: none;
    margin-left: 8px;
  }
  span{
    color: #936cc1;
    font-size: 14px;
  }
}
}

/* ==========================================================================
  > start travel-tips
  ========================================================================== */
.travel-tips{
 a{
   color: #efd855;
   font-size: 18px;
   font-family: $oxygen;
   font-weight: $bold;
   text-decoration: none;
 }
}