
/* ==========================================================================
  >  start header
  ========================================================================== */
.wrapper{
  width: 100%;
}
.header{
.ewent-logo{
  margin-left: 35px;
}
  .navbar-nav {
      li{
     padding:0 10px;
      }
    .dropdown-menu{
      margin-top: 15px;
      background: #343234;
      a{
        line-height: 2.4;
      }
    }
    .dropdown-item{
      color: $white;
      font-size: 14px;
      font-family: $oxygen;
      font-weight: $regular;
      &:hover{
        color: $black;
      }
    }
    .nav-link{
      color: $black;
      font-size: 16px;
      font-family: $oxygen;
      font-weight: $regular;
      text-transform: capitalize;
      &:hover{
        color: $red-color;
      }
    }
    [class^="pe-7s-"]{
        color: $black;
      &:hover{
        color: $red-color;
      }
    }
  }
  .dropdown-toggle::after {
    display: none;
  }
}

/* ==========================================================================
  > start banner-section
  ========================================================================== */
.banner{
  .banner-bg{
    min-height: 1200px;
    background-size: cover;
    background-position: center center;
  }
  .caption{
    padding: 300px 0px 200px 20px;
    h4{
      color: $blue-color;
      font-family: $oxygen;
      font-weight: $regular;
    }
  }
}

/* ==========================================================================
  > start our story
  ========================================================================== */
.our-story{
  .media{
    img{
     padding-top: 11px;
    }
  }
  .media-body{
    padding-left: 15px;
    h2{
      font-weight: $light;
    }
    p{
      font-size: 15px;
      color: #919191;
    }
  }
}

/* ==========================================================================
  >  start speakers
  ========================================================================== */
.speakers{
  background-repeat: no-repeat;
  background-size: cover;
  padding: 340px  0 40px 0;
  .card{
    background-color: transparent;
    border: none;
    padding: 40px 0;
    &:hover{
      box-shadow: 0px 7px 27px 0px rgba(0, 0, 0, 0.05);
      background-color: $white;
    }
    p{
      font-size: 14px;
    }
    span{
      color: #936cc1;
    }
    a{
      text-decoration: none;
      color: $black;
    }
    .card-shape{
      width: 320px;
      height: 320px;
      background: #1da7ba;
      border-radius: 50%;
      text-align: center;
      &:hover{
        background-image: linear-gradient(to right, #30d4d1 , #90dbb5);
      }
    }
  }
}

/* ==========================================================================
  >  start attend
  ========================================================================== */
.attend{
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $gray;
  padding: 260px  0 400px 0;
  img{
    padding:60px 0 28px 0;
  }
  h3{
    padding-bottom: 15px;
  }
}

/* ==========================================================================
  >  start schedule
  ========================================================================== */
.schedule{
  .card{
    h3{
      padding: 22px;
    }
    .registration{
      font-weight: $bold;
    }
  }
}

/* ==========================================================================
  >  start previous-history
  ========================================================================== */
.previous-history{
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $gray;
  padding: 260px  0 400px 0;
}

/* ==========================================================================
  >  start attendees
  ========================================================================== */
.attendees{
  background-color: $gray;
  padding: 20px 0 100px 0;
  .slick-carousel{
    .title-before:after{
      background: url("../images/attendees-before.png") no-repeat;
      content: "";
      display: block;
      float: left;
      position: absolute;
      height: 20px;
      width: 50px;
    }
    .media{
      margin-left: 65px;
      .ceo{
        margin-left: 0;
      }
    }
  }
  p{
    margin-left: 65px;
  }
}

/* ==========================================================================
  >  start tickets
  ========================================================================== */
.tickets{
  background-color: $gray;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 120vh;
  .header-title{
    padding: 300px 0 30px 0;
  }
  // Tables
  .card {
    border: 0;
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
    transition: all .3s ease-in-out;
    padding: 2.25rem 0;
    margin-top: 0px;
    position: relative;
    will-change:transform;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 5px;
      background-color: $dark-green;
      transition: 0.5s;
    }

    &:hover {
      transform: scale(1.05);
      -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
      box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
      &:after {
        width: 100%;
      }

    }
    & .card-header {
      background-color: white;
      padding-left: 2rem;
      border-bottom: 0px;
    }
    & .card-block {
      padding-top: 0;
    }
    h2{
      font-size: 60px;
      color: #8965b4;
      font-weight: $regular;
    }
    h6{
      font-weight: $regular;
      color: #919191;
    }
    span{
      font-weight: $bold;
    }
  }
}

/* ==========================================================================
  > start our-sponsors
  ========================================================================== */
.our-sponsors{
  padding: 10px 0 80px 0;
  /* Default mode */
  .tab-card-header{
    background: none;
    .nav-tabs > li {
      padding: 35px 0 45px 0;
      a {
        border: 0;
        margin-right: 0;
        color: $black;
        padding: 2px 30px;
        font-family: $oxygen;
        font-weight: $regular;
        font-size: 14px;
      }
      a.show {
        border-bottom: 2px solid #007bff;
        color: #007bff;
      }
      a:hover {
        color: #007bff;
      }
    }
    .tab-content {
      padding-bottom: 0;
    }
  }
  .card-header {
    border-bottom: none;
  }
  .nav-tabs .nav-link.active {
    background-image: linear-gradient(90deg, #ededed, #d1d1d1);
    border-radius: 5px;
    padding: 13px 35px;
  }
}

/* ==========================================================================
  >  start stay-informed
  ========================================================================== */
.stay-informed{
  background-repeat: no-repeat;
  background-size: cover;
  padding: 300px  0 400px 0;
  p{
    margin-top: 40px;
  }
  .form-inline .form-control{
    width: 40%;
    margin-left: auto;
    padding: 28px 0;
  }
  .subscribe{
    margin-right: auto;
  }
  ::placeholder {
    font-size: 18px;
    font-family: $oxygen;
    font-weight: $regular;
    padding-left: 20px;
  }
  ul > li{
    padding:40px 20px;
    a{
      font-size: 24px;
      color: $white;
      &:hover{
        color: $red-color;
      }
    }
  }
}

/* ==========================================================================
  >  start venue-info
  ========================================================================== */
.venue-info{
  background-repeat: no-repeat;
  background-size: cover;
  padding: 250px 0;
  margin-top: -400px;
  .venue-body{
    box-shadow: 0px 3px 50px 0px rgba(31, 31, 30, 0.15);
    background-color: $white;
    border-radius: 5px;
    padding: 30px;
    a{
      color: #616161;
      font-size: 16px;
      font-family: $oxygen;
      font-weight: $regular;
      line-height: 2.6;
      text-decoration: none;
      margin-left: 8px;
    }
    span{
      color: #936cc1;
    }
    &:before{
      content: "";
      position: absolute;
      left: 58.2%;
      margin-top: 105px;
      width: 0;
      height: 0;
      border-top: 23px solid transparent;
      border-bottom: 23px solid transparent;
      border-left: 23px solid $white;
    }
  }
}
/* ==========================================================================
  > start footer
  ========================================================================== */
.footer{
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: $black-light;
  padding: 60px 0;
  .footer-up{
   padding-bottom: 100px;
    h4{
      padding-bottom: 15px;
    }
    p{
      color: #b1b1b1;
      font-size: 16px;
    }
    a{
      color: #ba89f4;
      font-size: 16px;
      font-family: $oxygen;
      font-weight: $regular;
      text-decoration: none;
      line-height: 2.5;
      &:hover{
        color: $red-color;
      }
    }
    .fa{
      color: $white;
    }
    img{
      padding: 8px;
    }
  }
  .copyright{
    color: #b1b1b1;
    font-size: 16px;
  }
}

#myIdName{
  position: absolute;
  width: 100%;
  height: 100%;
}

/* ==========================================================================
  > slick start
  ========================================================================== */
/* Defines the width of the carousel and centers it on the page */


/* ==========================================================================
  > Comment start
  ========================================================================== */

