//***** about-us page style ******//

/* ==========================================================================
  >  start about-header
  ========================================================================== */
.about-header{
padding: 20px 0;
  .dropdown-menu{
    padding-right: 60px;
  }
}

/* ==========================================================================
  >  start about-banner
  ========================================================================== */
.about-banner{
.about-banner-bg{
  min-height: 287px;
  background-size: cover;
  background-position: center center;
}
  .banner-caption{
    padding:50px;
  }
}

/* ==========================================================================
  > start about-counter
  ========================================================================== */
.about-counter{
  background: $violet;
  h2{
    font-weight: $light;
  }
  .media{
    img{
      padding-top: 20px;
    }
  }
}

/* ==========================================================================
  > start about-attend
  ========================================================================== */
.about-attend{
background: $violet-deep;
  img{
    padding:60px 0 28px 0;
  }
  h3{
    padding-bottom: 15px;
  }
}

/* ==========================================================================
  > start questions
  ========================================================================== */
.questions {
  h2 {
    font-size: 36px;
  }
  .card {
    margin-bottom: 15px;
    box-shadow: 0px 7px 27px 0px rgba(0, 0, 0, 0.05);
    background: $white;
    a {
      color: $black;
      font-size: 24px;
      font-family: $jost;
      font-weight: $medium;
    }
    p {
      font-size: 16px;
    }
    .card-body{
      padding: 0;
      border: none !important;
      a{
        padding: 0.4rem 1.0rem;
      }
      p{
        padding: 1.0rem;
      }
    }
  }
  .card-header.collapsed {
    background: $white;
    &:after{
      content: '+';
      font-size: 40px;
      float: right;
      margin-top: -45px;
    }
  }
  .card-header:not(.collapsed) {
    background-image: linear-gradient(to bottom right, #ebffbf, #5ef5e9);
    border: none;
    &:after{
      content: '-';
      font-size: 40px;
      float: right;
      margin-top: -45px;
    }
  }
  .active{
    border: none;
  }
}

/* ==========================================================================
  >  start get-ticket
  ========================================================================== */
.get-ticket{
  background-image: linear-gradient(to bottom right, #ebffbf, #5ef5e9);
}

/* ==========================================================================
  >  start about-footer
  ========================================================================== */
.about-footer{
  padding-top: 60px;
  padding-bottom: 0;
  .copyright{
    background: $black-deep;
  }
}