@font-face {
    font-family: 'Jost* 800';
    src: url('Jost-HeavyItalic.eot');
    src: url('Jost-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('Jost-HeavyItalic.woff2') format('woff2'),
        url('Jost-HeavyItalic.woff') format('woff'),
        url('Jost-HeavyItalic.ttf') format('truetype'),
        url('Jost-HeavyItalic.svg#Jost-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Jost*';
    src: url('Jost-Book.eot');
    src: url('Jost-Book.eot?#iefix') format('embedded-opentype'),
        url('Jost-Book.woff2') format('woff2'),
        url('Jost-Book.woff') format('woff'),
        url('Jost-Book.ttf') format('truetype'),
        url('Jost-Book.svg#Jost-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jost* 100 Hairline';
    src: url('Jost-Hairline.eot');
    src: url('Jost-Hairline.eot?#iefix') format('embedded-opentype'),
        url('Jost-Hairline.woff2') format('woff2'),
        url('Jost-Hairline.woff') format('woff'),
        url('Jost-Hairline.ttf') format('truetype'),
        url('Jost-Hairline.svg#Jost-Hairline') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Jost* 300';
    src: url('Jost-LightItalic.eot');
    src: url('Jost-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Jost-LightItalic.woff2') format('woff2'),
        url('Jost-LightItalic.woff') format('woff'),
        url('Jost-LightItalic.ttf') format('truetype'),
        url('Jost-LightItalic.svg#Jost-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Jost*';
    src: url('Jost-Bold.eot');
    src: url('Jost-Bold.eot?#iefix') format('embedded-opentype'),
        url('Jost-Bold.woff2') format('woff2'),
        url('Jost-Bold.woff') format('woff'),
        url('Jost-Bold.ttf') format('truetype'),
        url('Jost-Bold.svg#Jost-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Jost* 600 Semi';
    src: url('Jost-Semi.eot');
    src: url('Jost-Semi.eot?#iefix') format('embedded-opentype'),
        url('Jost-Semi.woff2') format('woff2'),
        url('Jost-Semi.woff') format('woff'),
        url('Jost-Semi.ttf') format('truetype'),
        url('Jost-Semi.svg#Jost-Semi') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jost* 500';
    src: url('Jost-Medium.eot');
    src: url('Jost-Medium.eot?#iefix') format('embedded-opentype'),
        url('Jost-Medium.woff2') format('woff2'),
        url('Jost-Medium.woff') format('woff'),
        url('Jost-Medium.ttf') format('truetype'),
        url('Jost-Medium.svg#Jost-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Jost*';
    src: url('Jost-BoldItalic.eot');
    src: url('Jost-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Jost-BoldItalic.woff2') format('woff2'),
        url('Jost-BoldItalic.woff') format('woff'),
        url('Jost-BoldItalic.ttf') format('truetype'),
        url('Jost-BoldItalic.svg#Jost-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Jost* 200';
    src: url('Jost-Thin.eot');
    src: url('Jost-Thin.eot?#iefix') format('embedded-opentype'),
        url('Jost-Thin.woff2') format('woff2'),
        url('Jost-Thin.woff') format('woff'),
        url('Jost-Thin.ttf') format('truetype'),
        url('Jost-Thin.svg#Jost-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Jost* 900';
    src: url('Jost-BlackItalic.eot');
    src: url('Jost-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Jost-BlackItalic.woff2') format('woff2'),
        url('Jost-BlackItalic.woff') format('woff'),
        url('Jost-BlackItalic.ttf') format('truetype'),
        url('Jost-BlackItalic.svg#Jost-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Jost* 800';
    src: url('Jost-Heavy.eot');
    src: url('Jost-Heavy.eot?#iefix') format('embedded-opentype'),
        url('Jost-Heavy.woff2') format('woff2'),
        url('Jost-Heavy.woff') format('woff'),
        url('Jost-Heavy.ttf') format('truetype'),
        url('Jost-Heavy.svg#Jost-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Jost* 600 Semi';
    src: url('Jost-SemiItalic.eot');
    src: url('Jost-SemiItalic.eot?#iefix') format('embedded-opentype'),
        url('Jost-SemiItalic.woff2') format('woff2'),
        url('Jost-SemiItalic.woff') format('woff'),
        url('Jost-SemiItalic.ttf') format('truetype'),
        url('Jost-SemiItalic.svg#Jost-SemiItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Jost* 500';
    src: url('Jost-MediumItalic.eot');
    src: url('Jost-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Jost-MediumItalic.woff2') format('woff2'),
        url('Jost-MediumItalic.woff') format('woff'),
        url('Jost-MediumItalic.ttf') format('truetype'),
        url('Jost-MediumItalic.svg#Jost-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Jost* 100 Hairline';
    src: url('Jost-HairlineItalic.eot');
    src: url('Jost-HairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('Jost-HairlineItalic.woff2') format('woff2'),
        url('Jost-HairlineItalic.woff') format('woff'),
        url('Jost-HairlineItalic.ttf') format('truetype'),
        url('Jost-HairlineItalic.svg#Jost-HairlineItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Jost*';
    src: url('Jost-BookItalic.eot');
    src: url('Jost-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('Jost-BookItalic.woff2') format('woff2'),
        url('Jost-BookItalic.woff') format('woff'),
        url('Jost-BookItalic.ttf') format('truetype'),
        url('Jost-BookItalic.svg#Jost-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Jost* 300';
    src: url('Jost-Light.eot');
    src: url('Jost-Light.eot?#iefix') format('embedded-opentype'),
        url('Jost-Light.woff2') format('woff2'),
        url('Jost-Light.woff') format('woff'),
        url('Jost-Light.ttf') format('truetype'),
        url('Jost-Light.svg#Jost-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Jost* 900';
    src: url('Jost-Black.eot');
    src: url('Jost-Black.eot?#iefix') format('embedded-opentype'),
        url('Jost-Black.woff2') format('woff2'),
        url('Jost-Black.woff') format('woff'),
        url('Jost-Black.ttf') format('truetype'),
        url('Jost-Black.svg#Jost-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Jost* 200';
    src: url('Jost-ThinItalic.eot');
    src: url('Jost-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Jost-ThinItalic.woff2') format('woff2'),
        url('Jost-ThinItalic.woff') format('woff'),
        url('Jost-ThinItalic.ttf') format('truetype'),
        url('Jost-ThinItalic.svg#Jost-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

